@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
}

.main-canvas {
  position: relative;
  min-height: 100vh;
  min-width: 100vw; /* Ensure it covers full viewport width */
  width: 100%;
  height: 100%;
  display: grid;
}

